venv/

<!-- //TODO: Create dropdown / autocomplete text bar to place location of the   -->
//TODO: Add Column for is this correct or not (2 buttons) this will be used to help guide the ML model in the future 
                //TODO: Add column for link to hopespot / location of the recording , if defined 
                # TODO: TRY DO THIS WITHOUT READING FROM FILE