blinker==1.8.2
cffi==1.16.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
et-xmlfile==1.1.0
Flask==3.0.3
fonttools==4.53.0
imageio==2.34.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
llvmlite==0.43.0
MarkupSafe==2.1.5
matplotlib==3.9.0
networkx==3.3
numba==0.60.0
numpy==1.26.4
openpyxl==3.1.4
packaging==24.1
pandas==2.2.2
pillow==10.3.0
pycparser==2.22
pyparsing==3.1.2
PyQt6==6.7.0
PyQt6-Qt6==6.7.2
PyQt6-sip==13.6.0
python-dateutil==2.9.0.post0
pytz==2024.1
resampy==0.4.3
scikit-image==0.23.2
scikit-learn==1.5.0
scikit-maad==1.4.2
scipy==1.12.0
six==1.16.0
soundfile==0.12.1
threadpoolctl==3.5.0
tifffile==2024.5.22
tzdata==2024.1
Werkzeug==3.0.3
